<head>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                Watch<span class="span-logo">Us</span>
            </div>

            <div class="middle-nav">
                <ul>
                    <li><a href="#">Browse</a></li>
                    <li><a href="#">Games</a></li>
                </ul>
            </div>

            <div class="nav">
                <ul>
                    <li><a href="#"><span class="span-log-in">Sign up</span></a></li>
                    <li><a href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>