<head>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                Movies
            </div>

            <div class="nav">
                <ul>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>